#sidebar .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar-content {
    flex-grow: 1;
    overflow-y: auto;
}

.logout-section {
    padding: 1rem;
    background: #09142D;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}


.btn-logout {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-logout:hover {
    background-color: #c82333;
}
